
/* Estilos personalizados */
/* styles.css */

/* Estilos personalizados */

.fondo{
    background-image: url(fondo4k.jpg);
    background-size: cover;
    background-position: center;
    height: 120vh;
    
}

