/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 jun 2024, 7:41:08 p.m.
    Author     : Jesus Gutierrez
*/

body{
    background:rgba(218, 131, 18, 0.945) ;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 50%;    
}
.img2{
    width: 20%;
}
.container{
    height: 150vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgb(233, 238, 245);
    font-size: 20px;
    padding: 20px;
}


@media screen and (max-width:630px){
    h1{        
        font-size: 16px;        
    }
}
